{{ $file := .Get 0 }}
{{ $page := .Page }}

{{/* Fetch the resource from the page bundle */}}
{{ with .Page.Resources.GetMatch $file }}
{{ $modifiedContent := .Content | $page.RenderString }}

{{/* Use greedy matching to capture everything between $$ delimiters */}}
{{ $modifiedContent := $modifiedContent | replaceRE "(\\$+[^$]+\\$+)" "$1" }}

{{/* Render the modified content as HTML */}}

{{ $modifiedContent | safeHTML }}

{{ end }}


<!-- https://www.fabriziomusacchio.com/blog/2021-08-10-How_to_use_LaTeX_in_Markdown/ --> 
